/* Color Palette:
Main:

#322C2B;
Shades:
30% #231f1e;
20% #5b5655;
30% #706b6b;
90% #aebeae;

#c67d4e;
Shades:
30% #8b5837;
20% #d19771;
30% #d7a483;
90% #f9f2ed;

#803D3B;
Shades:
30% #7a5b43;
20% #bf9b80;
30% #c7a890;
90% #f7f3ef;

#AF8260;
Shades:
30% #5a2b29;
20% #996462;
30% #a67776;
90% #f2eceb;

#E4C59E;
Shades:
30% #a08a6f;
20% #e9d1b1;
30% #ecd6bb;
90% #fcf9f5;


*/

/* Universal Resets */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* scroll-behavior: smooth; */
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #322c2b;
}

html,
body {
  overflow-x: hidden;
}

/* Global */

h1,
h2,
h3,
p,
label {
  color: #ecd6bb;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.section-header {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 3.2rem;
}

input {
  background-color: #fcf9f5;
  color: #322c2b;
}

.btn-search:active,
.btn-form:active {
  transform: scale(0.95);
}

/* Images */

.cocktail-img,
.recommend-img {
  height: 32rem;
  width: 32em;
}

/* Header */

.logo-img {
  height: 9.6rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
  padding: 0 4.8rem;
  background-color: #322c2b;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.nav-link:link,
.nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  padding: 1.2rem 2.4rem;
  border-radius: 1.1rem;
  color: #ecd6bb;
  transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
  color: #c67d4e;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 2.5rem;
  height: 0.3rem;
  margin: 0.5rem auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

/* Hero */

.section-hero {
  padding: 6.4rem 0 9.6rem;
}

.hero {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.8rem;
}

.hero-text-box {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

h1 {
  font-size: 4.4rem;
  line-height: 1.5;
  letter-spacing: 0.1rem;
}

.hero-text {
  font-size: 2rem;
  line-height: 1.4;
}

.hero-img {
  width: 100%;
}

/* Cocktail Section */

.section-cocktail {
  background-color: #fcf9f5;
  padding: 9.6rem;
}

.cocktail-header {
  color: #322c2b;
}

.cocktail-content-box {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  margin: 4.8rem 0;
}

.cocktail-search {
  display: flex;
  justify-content: center;
  gap: 2.4rem;
  margin-bottom: 4.8rem;
}

.cocktail-input {
  border-radius: 2.4rem;
  padding: 1.2rem 2.4rem;
  text-align: center;
  font-size: 1.8rem;
  border: none;
  background-image: url("images/search.png");
  background-size: 2.4rem;
  background-repeat: no-repeat;
  background-position: 2rem 1rem;
}

::placeholder,
.btn-search {
  color: #322c2b;
  padding-left: 2rem;
}

input:focus {
  outline: none;
}

input:focus::placeholder {
  color: transparent;
}

.btn-search {
  border-radius: 2.4rem;
  padding: 1.2rem 2.4rem;
  font-size: 1.8rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-search:hover {
  background-color: #e4c59e;
  color: #8b5837;
}

.cocktail-input,
.btn-search {
  background-color: #e4c59e;
}

.cocktail-info-box {
  display: flex;
  justify-content: space-evenly;
  gap: 2.4rem;
}

.cocktail-box {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.box-subheader {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.2rem 0;
}

.box-subheader,
.cocktail-name,
.cocktail-glass,
.cocktail-instructions,
.cocktail-ingredient-item {
  color: #322c2b;
  font-size: 1.6rem;
  padding-left: 1.2rem;
}

.cocktail-name {
  font-weight: 600;
}

.cocktail-ingredient-item {
  list-style: none;
  margin-bottom: 1.2rem;
}

.cocktail-box {
  display: none;
}

/* About Us */

.section-about-us {
  padding: 9.6rem 0;
}

.about-text {
  font-size: 1.8rem;
  line-height: 1.4;
  letter-spacing: 0.05rem;
}

/* Contact Us Section */

.section-cta {
  padding: 4.8rem 0 12.8rem;
  background-color: #fcf9f5;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 1.1rem;
  overflow: hidden;
  background-color: #322c2b;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.6rem;
  font-family: inherit;
  border: none;
  border-radius: 1.1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  color: #322c2b;
}

.cta-message {
  grid-column: span 2;
}

.cta-form textarea {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.6rem;
  font-family: inherit;
  border: none;
  border-radius: 1.1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: #fcf9f5;
  color: #322c2b;
}

.btn-form {
  align-self: end;
  padding: 1.2rem;
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 1.1rem;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;
  color: #322c2b;
  background-color: #fcf9f5;
}

.btn-form:hover,
.btn-form:active {
  background-color: #e4c59e;
  color: #c67d4e;
}

.cta-img-box {
  background-image: url(images/cocktail.jpg);
  background-size: cover;
  background-position: center;
}

/* Footer */

footer {
  padding: 3.2rem 32rem;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-link {
  text-decoration: none;
  font-size: 1.6rem;
}

.social-icon {
  height: 3.2rem;
  width: 3.2rem;
}

.copyright {
  font-size: 1.2rem;
  font-weight: 500;
}

.footer-logo {
  height: 3.2rem;
}

.social-icon {
  color: #000;
}
/* Media */

@media only screen and (max-width: 576px) {
  html {
    font-size: 50%;
  }

  /* Header */

  .nav-link:link,
  .nav-link:visited,
  .nav-link:hover,
  .nav-link:active {
    font-size: 1.8rem;
  }

  /* Hero */
  .section-hero {
    padding: 2.4rem 0 6.4rem;
  }

  .hero {
    grid-template-columns: 1fr;
  }

  .hero-text-box {
    text-align: center;
  }

  h1 {
    font-size: 4.8rem;
    line-height: 1.2;
  }

  /* About */
  .about-text {
    text-align: start;
    line-height: 1.6;
  }

  /* Cocktail */

  .cocktail-input {
    padding: 1.2rem 1.2rem;
  }

  .cocktail-img {
    width: 40rem;
    height: 40rem;
  }

  /* CTA */

  .cta-text-box {
    padding: 3.2rem;
  }

  /* FOOTER */

  footer {
    padding: 1.6rem 6.4rem;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  html {
    font-size: 56.25;
  }

  h1 {
    font-size: 5.5rem;
    line-height: 1.2;
  }

  .cocktail-img {
    width: 48rem;
    height: 48rem;
  }
}

@media only screen and (max-width: 768px) {
  /* Nav Header */
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(0.8rem) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-0.8rem) rotate(-45deg);
  }

  .nav-list {
    position: fixed;
    left: -100%;
    top: 7rem;
    gap: 0;
    flex-direction: column;
    background-color: #322c2b;
    width: 100%;
    height: 70vh;
    text-align: center;
    transition: 0.3s;
  }

  .nav-list.active {
    left: 0;
  }

  .nav-link {
    margin: 1.2rem 0;
  }

  /* Hero */

  .hero {
    grid-template-columns: 1fr;
  }

  .hero-text-box {
    text-align: center;
  }

  /* Cocktail */

  .cocktail-search {
    flex-direction: column;
  }

  .cocktail-info-box {
    flex-direction: column;
    align-items: center;
  }

  .cocktail-box {
    align-items: center;
  }

  .cocktail-ingredient-item {
    text-align: center;
  }

  .box-subheader {
    font-size: 2.2rem;
  }

  .cocktail-name {
    font-size: 2rem;
  }

  .cocktail-glass,
  .cocktail-ingredient-item,
  .cocktail-instructions {
    font-size: 1.8rem;
  }

  /* CTA */

  .cta {
    grid-template-columns: 1fr;
  }

  .cta-form {
    grid-template-columns: 1fr;
    column-gap: 0;
  }

  .cta-name,
  .cta-email {
    grid-column: span 2;
  }

  .cta-img-box {
    height: 32rem;
    grid-row: 1;
  }

  /* Footer */

  footer {
    padding: 3.2rem 9.6rem;
  }

  .footer-container {
    justify-content: space-evenly;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  footer {
    padding: 3.2rem 16rem;
  }
}
